/*
    Theme Name: Zakra Child Theme
    Theme URI: https://zakratheme.com/
    Template: zakra
    Author: Christian Kneip
    Description: Zakra Child Theme for Tremonia Fechten
*/

.tg-primary-menu > div ul li a {
    color: #f9f6eb;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
}

::selection {
    color: #fefdfa;
    background: #620000;
}

p.site-title > a {
    color: #620000;
    font-size: 2.2rem;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
}

.site-info-wrap > p.site-description {
    color: #620000;
    line-height: 1;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-size: 1.1rem;

}

div.site-branding {
    margin-bottom: 1rem;
}

ul.sub-menu {
    background: #998c5a !important;
    border: 1px solid #aaa078 !important;
    border-radius: 2px;
}

.tg-primary-menu > div ul li ul li {
    border: 0;

    line-height: 1
}

.entry-content a:hover {
    text-decoration: underline
}

body:not(.tg-container--separate) #page {
    background: rgba(173, 135, 0, 0.08);
}

abbr[title] {
    border-bottom: none
}

blockquote, .wp-block-quote {
    border-color: #620000;
}

header.tg-page-header {
    border-bottom: 3px solid #620000;
    background: rgba(174, 164, 125, 0.5);
}

footer#colophon {
    border-top: 2px solid #620000;
    background: rgba(174, 164, 125, 0.5);
}

h1.tg-page-header__title {
    color: #fefdfa;
    font-weight: bold !important;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

table.zebra tr:nth-child(odd) {
    background: transparent;
    color: #555E58;
}

table.zebra tr:nth-child(even) {
    background-color: #FFFFE0;
    color: #555E58;
}

table.zebra tr:hover {
    background-color: #FFEEDD;
    color: #555E58;
}

table.hoverable tr td:hover {
    background-color: #620000;
    color: #F5F5F5;
}

table.hoverable tr th {
    background-color: #620000;
    color: #F5F5F5;
}

table.hoverable tr td a {
    color: grey;
    text-decoration: underline;
}

.tg-icon-bars::after {
    color: #620000
}

nav#mobile-navigation {
    background: #998c5a;
}

.grecaptcha-badge {
    width: 70px !important;
    overflow: hidden !important;
    transition: all 0.3s ease !important;
    left: 0px !important;
    bottom: 20px !important;
}

.grecaptcha-badge:hover {
    width: 256px !important;
}

.tg-mobile-navigation .tg-mobile-navigation-close::before {
    color: #620000;
}

.tg-mobile-navigation li.page_item_has_children .tg-submenu-toggle::after, .tg-mobile-navigation li.menu-item-has-children .tg-submenu-toggle::after {
    color: #f9f6eb;
}

.tg-mobile-navigation > div > ul {
    border-color: #620000
}

.tg-mobile-navigation li.menu-item-has-children.submenu--show > ul {
    background: #aaa078 !important;
}

.tg-mobile-navigation a {
    color: #f9f6eb;
}

.tg-mobile-navigation a:hover,
.tg-mobile-navigation a:focus,
.tg-mobile-navigation a:active {
    color: #620000;
}

blockquote {
    background: #fefdfa;
}

.article-list {
    margin-bottom: 10px;
}

.align-right {
    text-align: right;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

.wpcf7-list-item {
    display: block;
}

/* temporäres zeug */

table.leitung {
    width: unset;
}

table.leitung td {
    padding: 3px;
    border: none;
}

table.leitung th {
    border: none;
}

table.leitung td:first-child {
    width: 100px;
}

ol.faq > li {
    margin-bottom: 10px;
}

body {
    font-size: 1.1rem;
}

table.hoverable tr > th:first-child,
table.hoverable tr > td:first-child {
    width: 90px;
}

/* override stupid colors from plugin */

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #cccccc;
    background: inherit;
    font-weight: bold;
    color: transparent;
}

/* fix text header; why would they align it left? */
.site-info-wrap {
    margin: 0 auto;
}

a {
    color: #620000;
}

aside .widget h2.widget-title {
    font-weight: bold;
}

#my-calendar {
    margin: 30px 0;
}

.widget_my_calendar_upcoming_widget {
    line-height: 1.1;
}

.tg-primary-menu > div > ul li:not(.tg-header-button-wrap) a {
    color: #f9f6eb;
}

li.upcoming-event {
    padding-bottom: 12px;
}

/* fix header display on desktop */
@media screen and (min-width: 769px) {
    .tg-site-header.tg-site-header--center .site-branding {
        flex-direction: row;
    }

    div.site-info-wrap {
        transform: translateX(-100px);
    }
}

/* we don't want no blue! */
.tg-mobile-navigation > div ul li.current_page_ancestor > a, .tg-mobile-navigation > div ul li.current-menu-ancestor > a {
    color: #620000;
}

#language-switch > ul {
    list-style-type: none;
    text-align: right;
}

#language-switch > ul > li {
    display: inline;
}

li.menu-item > a > span {
    font-size: 0.8em;
    padding-left: 5px;
    vertical-align: super;
}

/* allow breadcrumb items to wrap into new line */
ul.trail-items {
    flex-wrap: wrap;
}

/* my calendar plugin overrides */

.mc-main .nextmonth {
    background: rgba(174, 164, 125, .1);
}

.mc-main th {
    background: rgba(174, 164, 125, 0.5) !important;
    color: #fefdfa !important;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    border-color: rgba(174, 164, 125, 0.5);
    border-left-color: #d3ccb3 !important;
    border-left: 1px solid;
}

.mc-main td {
    border: 1px solid rgba(174, 164, 125, .2);
    background: #fefdfa;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    color: #fefdfa;
}

.mc-main .current-day {
    border-top: 1px solid rgba(174, 164, 125, 0.5);
    background: linear-gradient(to bottom, #fefdfa 0%, #d3ccb3 70%, #aea47d 100%);
}

.mc-main .current-day .mc-date {
    border-top: 1px solid #620000;
}

.mc-main .has-events .mc-date {
    color: #fefdfa;
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
    background: #fefdfa;
}

.mc-main .time-block p {
    background: transparent;
}

.mc-main .category-key li.current a {
    border: 1px solid #620000;
    background: #fefdfa;
}

/*
    overwrite calendar highlight colors; hate it, but could not find another way
    order lowest priority to highest
 */

.mc-main .mc_training .event-title,
.mc-main .mc_training .event-title a {
    background: #620000 !important;
    color: #fefdfa !important;
}

.mc-main .mc_training.mc_rel_probetraining .event-title,
.mc-main .mc_training.mc_rel_probetraining .event-title a {
    background: #50961e !important;
    color: #fefdfa !important;
}

.mc-main .mc_training.mc_rel_turnier .event-title,
.mc-main .mc_training.mc_rel_turnier .event-title a {
    background: #0042ad !important;
    color: #fefdfa !important;
}

button.mc-toggle {
    color: #620000 !important;
}

.mc-main .mc-list .mc-events {
    background: rgba(174, 164, 125, .1);
}

.mc-main .mc-list {
    border-top: 1px solid rgba(174, 164, 125, .2);
    border-left: 1px solid rgba(174, 164, 125, .2);
}

.sp-ea-one.sp-easy-accordion .sp-ea-single .ea-header a {
    padding-top: 12px;
}

.sp-easy-accordion .sp-ea-single .ea-header a {
    font-size: 16px;
    line-height: 20px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], select, textarea {
    background: #fefdfa;
    border: 1px solid rgba(174, 164, 125, 0.5);
    color: #56513e;
}

.search-form label::before {
    color: #d3ccb3;
}

#primary.primary-full-width {
    width: 100%;
    padding-right: 0;
}

#primary.primary-full-width + #secondary {
    width: 100%;
    flex-direction: row;
}

#primary.primary-full-width + #secondary > section {
    max-width: 300px;
    display: inline-block;
}

/* flip card styling */

.tf_staff-flip-card {
    background-color: transparent;
    width: 500px;
    height: 300px;
    max-width: 100%;
    min-width: 300px;
    perspective: 800px;
}

.tf_staff-flip-card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.tf_staff-flip-card:hover .tf_staff-flip-card-content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.tf_staff-flip-card-front,
.tf_staff-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
/* bugfix for half clickable link on webkit */
.tf_staff-flip-card-information {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.tf_staff-flip-card-back {
    z-index: 1;
}

.tf_staff-flip-card-front {
    display: flex;
    z-index: 0;
}

.tf_staff-flip-card-back {
    background: #aea47d url('/wp-content/themes/zakra-child/img/tremonia_logo_200.png') no-repeat right;
    background-size: 200px;
    color: #fefdfa;
    transform: rotateY(180deg);
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .tf_staff-flip-card-back {
        background: #aea47d url('/wp-content/themes/zakra-child/img/tremonia_logo_400.png') no-repeat right;
        background-size: 200px;
    }
}

.tf_staff-flip-card-icon {
    position: absolute;
    top: 11px;
    right: 17px;
    font-size: 2.5rem;
    color: rgba(254, 253, 250, .9);
    line-height: 1;
}


.tf_staff-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tf_staff-container article {
    width: 560px;
    max-width: 90%;
}

.tf_staff-flip-card-information {
    position: absolute;
    left: 10px;
}

.tf_staff-flip-card-front .tf_staff-flip-card-information {
    padding: 15px 30px 20px;
    background: rgba(98, 0, 0, .85);
    border-radius: 50px 20px 50px 20px;
    bottom: 10px;
    margin-right: 10px;
}

.tf_staff-flip-card-back .tf_staff-flip-card-information {
    padding: 10px 0 0 20px;
    top: 10px;
}

.tf_staff-flip-card-back .tf_staff-flip-card-information > p.subline {
    margin-bottom: 1.2rem;
}

.tf_staff-flip-card-information > h2 {
    margin: 0;
    text-align: left;
    color: #fefdfa;
    font-size: 1.6rem;
}

.tf_staff-flip-card-information > p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 1;
    color: #fefdfa;
}

.tf_staff-flip-card-information > p.subline {
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 0;
}

.tf_staff-flip-card-information > table {
    margin: 0;
    width: 100%;
    border: none;
}

.tf_staff-flip-card-information > table td {
    padding: 0;
    border: none;
}

.tf_staff-flip-card-information > table td:first-child {
    width: 30%;
}

.tf_staff-flip-card-information > table td:last-child {
    width: 70%;
}

.tf_staff-flip-card-information ul {
    list-style: '» ';
    margin: 0 0 1.2rem 30px;
    text-align: left;
    color: #fefdfa;
    line-height: 1.1;
    font-size: 1.2rem;
}

.tf_staff-flip-card-information ul > li {
    margin-top: 3px;
    -webkit-margin-before: 8px;
}

.tf_staff-flip-card-links {
    color: #620000;
    position: absolute;
    left: 35px;
    bottom: 20px;
}

.tf_staff-flip-card-profile {
    margin-left: 10px;
}

#secondary.tf_staff-aside .widget ul li {
    padding-bottom: 10px;
    line-height: 1.4;
}

#secondary.tf_staff-aside .widget ul li a {
    padding: 0.5rem 0 0;
}

.tf_staff-aside-current {
    font-weight: 600;
}

.tf_staff-aside-item {
    font-size: 1.2rem;
}

.tf_staff-aside-item span {
    font-size: 1.1rem;
    font-style: italic;
}

.tf_staff-aside-item > div,
.upcoming-event > div,
.widget_recent_entries > ul > li > a {
    margin-left: 0;
    transition: margin-left .5s;
}

.tf_staff-aside-item > div:hover,
.upcoming-event > div:hover,
.widget_recent_entries > ul > li > a:hover {
    margin-left: -20px;
    transition: margin-left .5s;
}

@media screen and (max-width: 768px) {
    .tf_staff-aside-item > div:hover,
    .upcoming-event > div:hover,
    .widget_recent_entries > ul > li > a:hover {
        margin-left: 20px;
        transition: margin-left .5s;
    }
}

.tf_staff-single-img-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-top: 10px;
}

.tf_staff-single-img {
    height: 300px;
    width: auto;
    max-width: unset;
    margin-left: -200px;
}

@media screen and (max-width: 1000px) {
    .tf_staff-single-img-container {
        width: 200px;
        height: 200px;
    }

    .tf_staff-single-img {
        height: 200px;
        width: auto;
        margin-left: -133.3334px;
    }
}

@media screen and (max-width: 420px) {
    .tf_staff-single-img-container {
        width: 150px;
        height: 150px;
    }

    .tf_staff-single-img {
        height: 150px;
        width: auto;
        margin-left: -100px;
    }
}

.tf_staff-single-gallery-img {
    max-width: 50%;
    transition: 1.5s;
}

.tf_staff-single-gallery-img.alignleft:hover,
.tf_accordion_content > .tf_accordion_padding img.tf_fechtschule_image:hover {
    transform: rotate(-360deg);
    transition: transform 8s;
    transition-delay: 3s;
}

.tf_staff-single-gallery-img.alignright:hover {
    transform: rotate(360deg);
    transition: transform 8s;
    transition-delay: 3s;
}

.tf_staff-gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}

.tf_staff-gallery:hover .tf_staff-gallery-image {
    filter: grayscale(1);
}

.tf_staff-gallery-column-4 {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.tf_staff-gallery-column-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tf_staff-gallery-animation {
    margin: 2px;
    overflow: hidden;
}

.tf_staff-gallery-animation:hover .tf_staff-gallery-image {
    filter: grayscale(0);
}

.tf_staff-gallery-animation:hover {
    opacity: 1;
}

.tf_staff-gallery-thumb {
    position: relative;
    margin: 0;
}

.tf_staff-gallery-image {
    display: block;
    width: 100%;
    transition: 0.3s;
}

.tf_staff-gallery-image:hover {
    transform: scale(1.1);
}


@font-face {
    font-family: "CustomFont";
    src: url("assets/fonts/AlexBrush-Regular.ttf");
}

.tf_staff-quote {
    display: inline-block;
    margin: 1em;
    overflow: hidden;
    max-width: 50%;
}

.tf_staff-quote.alignflex {
    display: inline-block;
    max-width: 350px;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .tf_staff-quote {
        max-width: 90%;
    }
}

.tf_staff-quote p {
    margin-bottom: 0;
    font: bold 2.5rem 'CustomFont', 'Bradley Hand', 'Brush Script MT', cursive;
    padding: 10px;
}

.tf_staff-quote p::before {
    content: "» ";
    margin-left: -22.5px;
    white-space: nowrap;
}

.tf_staff-quote p::after {
    content: " «";
    white-space: nowrap;
}

.tf_staff-quote blockquote {
    background-color: #fefdfa;
    border: solid 2px #620000;
    display: inline-block;
    margin: 0;
    padding: 1em 1rem 1rem 2.3rem;
    position: relative;
}

.tf_staff-quote blockquote:before {
    background-color: #fefdfa;
    bottom: -10%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: -10%;
    transform: rotate(-15deg) skew(5deg);
}

.tf_staff-quote blockquote cite {
    display: block;
    text-align: right;
    line-height: 1;
    font-style: normal;
    margin-right: 10%;
}

.tf_staff-quote blockquote > * {
    position: relative;
    z-index: 1;
}

.quote-highlight-color {
    color: #aea47d;
}

select {
    width: unset;
}

form.tf_staff-contact-form {
    display: inline;
}

input.tf_staff-contact-submit,
input.tf_staff-contact-submit:hover {
    display: inline;
    background: unset;
    color: #620000;
}

.tf_staff-profile-card {
    background: #fefdfa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 1rem 1rem;
    text-align: center;
}

.tf_staff-profile-card-small {
    max-width: 320px;
}

.tf_staff-profile-card-text {
    padding: 10px;
}

.tf_staff-profile-card-text > h3 {
    margin: 0;
}

.tf_staff-profile-card-text > p.subline {
    margin-bottom: .5rem;
    font-style: italic;
}

.tf_staff-profile-card-text > ul,
.tf_staff-profile-card-text > ul > li > ul {
    margin: 0;
    list-style-type: none;
}

.tf_staff-profile-shortinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 5rem;
}

.tf_staff-profile-shortinfo .tf_staff-quote {
    margin: 0 1rem;
}

.tf_staff-quote.alignflex {
    display: inline-block;
    max-width: 320px;
    overflow: hidden;
}

aside#tf_announcements {
    border-bottom: 3px solid #620000;padding:1rem;background: #fefdfa;
}

div.tf_announcements_content {
    text-align: center;max-width:1160px;margin:0 auto;
}

img.tf_announcements_image_left {
    float:left; width:50px; height:auto;margin-right:20px;
}

img.tf_announcements_image_right {
    float:right; width:50px; height:auto;margin-left:20px;
}

.tf_fechtschule-overview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.tf_fechtschule-card {
    width:500px;
    background: #fefdfa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
    margin-bottom: 5rem;
}
.tf_fechtschule-card > img {
    background: #aea47d;
}
.tf_fechtschule-card-not-archived {
    margin-left: 200px;
    margin-right: 200px;
}

@media screen and (max-width: 991px) {
    .tf_fechtschule-card-not-archived {
        margin-left: 0;
        margin-right: 0;
    }
}

.tf_fechtschule-card-text {
    padding: 1rem 1.5rem;
}

.tf_fechtschule-card-text > ul {
    margin-top: 1.6rem;
}

.tf_fechtschule-card-text > p {
    margin-bottom: 0;
}

.tf_fechtschule-card-text > h3 {
    margin: 0;
}

.tf_fechtschule-card-text > h4 {
    font-style: italic;
    font-size: 1.2rem;
    margin: 0;
}

@media screen and (max-width: 400px) {
    .tf_fechtschule-card-text > h3 {
        font-size: 1.4rem;
    }
}

.tf_fechtschule-card-links {

}

@media screen and (max-width: 500px) {
    img.mobile-full-width,
    img.tf_fechtschule_image {
        max-width: 45%!important;
        height: auto!important;
    }
}


/* css tabs */

.tf_program_tabs > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tf_program_tabs .tab-panel {
    display: none;
}

.tf_program_tabs > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tf_program_tabs > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tf_program_tabs > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tf_program_tabs > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tf_program_tabs > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tf_program_tabs > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

/*
 Styling
*/

.tf_program_tabs table td {
    border: 0;
    background: #fefdfa;
    vertical-align: top;
}

.tf_program_tabs table td div + div {
    margin-top: 1rem;
}

.tf_program_tabs table td:first-child {
    width: 7em;
}
.tf_program_tabs table tr {
    border-bottom: 5px solid #f9f6eb;
}

.tf_program_tabs > label {
    position: relative;
    display: inline-block;
    padding: 5px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 0;
}

.tf_program_tabs > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #aea47d;;
}

.tf_program_tabs > label:hover,
.tf_program_tabs > input:focus + label {
    color: #620000;
}

.tf_program_tabs > label:hover::after,
.tf_program_tabs > input:focus + label::after,
.tf_program_tabs > input:checked + label::after {
    background: #620000;
}

.tf_program_tabs > input:checked + label {
    background: #fefdfa;
}

.tf_program_tabs > input:checked + label {
    border-color: #620000;
    border-bottom: 1px solid #fefdfa;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 0;
    background: #fefdfa;
    border-top: 1px solid #620000;
}

/* fechtschule accordion */

div.tf_accordion_item {
    position: relative;
}

div.tf_accordion_item > input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    visibility: hidden;
}

div.tf_accordion_item > label {
    background:#fefdfa;
    padding:1em 2.2em 1em 1em;
    position: relative;
    width: 100%;
    margin: 5px 0 0;
    font-weight: bold;
}

div.tf_accordion_item > input[type="checkbox"] ~ label {
    cursor: pointer;
}

div.tf_accordion_item > div.tf_accordion_content {
    max-height:0;
    overflow: hidden;
    background-color: #fefdfa;
}

div.tf_accordion_item > div.tf_accordion_content .tf_accordion_padding {
    padding: 0 1em 1em;
}

div.tf_accordion_item > input:checked ~ label .ea-expand-icon::before {
    content: "\f068";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
}

div.tf_accordion_item > input:checked ~ div.tf_accordion_content {
    max-height:100%;
}

div.tf_accordion_item .ea-expand-icon {
    position: absolute;
    right: 1em;
    color: #620000;
    margin: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.tf_accordion_item .ea-expand-icon::before {
    content: "\f067";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
}

div.tf_accordion {
    margin-bottom: 1.6rem;
}

img.tf_fechtschule_image {
    max-width: 240px;
    margin-bottom: 1em;
}

.tf_accordion_item h4 {
    margin-bottom: 0;
    font-size: 100%;
}

.tf_accordion_item h5 {
    font-size: 100%;
    font-weight: bolder;
}

img.tf_fechtschule_location {
    width: 300px;
    max-width: 40%;
}

input[readonly="readonly"] {
    background: #e9e9e9;
}

.tf_accordion blockquote {
    display: inline-block;
}